[ghq]
	root = ~/git

[core]
	excludesfile = ~/.gitignore
	quotepath = false
[user]
	name = swamp09
	email = shu.numata@esm.co.jp
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	l = log --decorate
	lr = log --reverse --decorate
	lp = log -p --stat --decorate
	ad = add
	b = branch -a
	ds = diff --staged
	co = checkout
	br = branch
	brd = branch -D
	ci = commit -v
	ca = commit -v --amend
	st = status
	unstage = reset HEAD --
	rh = reset HEAD^
	fp = push -f
	rs = reset --soft
	pom = pull origin master
	remote = remote -v
	graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[diff]
	indentHeuristic = true
[pull]
  rebase = true
[push]
  default = current
[rebase]
	autostash = true
[rerere]
	enabled = true
